{% extends 'base_answer_for_test.html.twig' %}

{% block title %}
    {% if not app.user %}
        {% if survey.status=="Ouvert" %}
            {{ survey.title }}
        {% else %}
            Erreur. Page introuvable.
        {% endif %}
    {% else %}
        {{ survey.title }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if not app.user %}
        {% if survey.status=="Ouvert" %}
            {% include 'partials/form_answer.html.twig' %}
        {% else %}
            <p>Erreur. Page introuvable.</p>
        {% endif %}
    {% else %}
        {% include 'partials/form_answer.html.twig' %}
    {% endif %}

{% endblock %}