{% extends 'base_answer_for_test.html.twig' %}

{% block title %}
    Remerciement 
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
    <p>La Société Atalan vous remercie d'avoir participé à ce sondage.</p>
    <p>À très bientôt pour de nouveaux tests.</p>
{% endblock %}