{% if app.user %}
    <nav role="navigation" aria-label="Menu principal" class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a aria-current="page" href="{{ path('survey_list') }}" class="nav-link">Sondages</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('assistive_list') }}" class="nav-link">Technologies d'assistance</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_list') }}" class="nav-link">Utilisateurs</a>
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            </ul>
        </ul>
    </nav>
{% endif %}