{% if app.user %}
    <div id="iddiv"></div>
{% endif %}
<script src="{{ asset('_js/designMenuClass.js') }}"></script>
<script>

function menu_main() {
    let tab = [
        ["Sondages","{{ path('survey_list') }}","sondage"],
        ["Administrateurs","{{ path('user_list') }}","utilisateur"],
        ["Technologies d'assistance","{{ path('assistive_list') }}","assistance"]
    ];

    let menu = new DesignMenuClass("iddiv","Menu principal",tab);
}
menu_main();

</script>