{% extends 'base.html.twig' %}

{% block title %}Technologies d'assistance{% endblock %}

{% block body %}
        {{ form_start(form) }}
            <fieldset>
                <legend>
                    <h1>Ajouter un nouveau type de technologie d'assistance</h1>
                </legend>
                <div class="form-group">
                    {{ form_row(form.type) }}
                </div>
            </fieldset>
            <button type="submit">Enregistrer</button>
        {{ form_end(form) }}
{% endblock %}